<html>
<head>
    <meta charset="UTF-8">
    <title>Carnet d'adresse</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    
</head>
<body>
    <div class="container col-sm-12" id="mainform">
            <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                       
					 <!-- Zones de saisie des informations pour l'inscription --> 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Inscription</div>
                            <a href="/">Retour</a>
                        </div> 
                        <div class="panel-body" >
                            <form class="form-horizontal" role="form" method="post" action="/signup" onSubmit="return checkblank(this);">
                              
                                <div class="form-group">
                                    <label for="login" class="col-md-3 control-label">Login</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="login" placeholder="Login">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mdp" class="col-md-3 control-label">Mot de passe</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="mdp" placeholder="Mot de passe">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="age" class="col-md-3 control-label">Age</label>
                                    <div class="col-md-9">
                                        <input type="number" class="form-control" name="age" placeholder="Age">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="famille" class="col-md-3 control-label">Famille</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="famille" placeholder="Famille">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label for="race" class="col-md-3 control-label">Race</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="race" placeholder="Race">
                                    </div>
                                </div>
								 <div class="form-group">
                                    <label for="nourriture" class="col-md-3 control-label">Nourriture</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="nourriture" placeholder="Nourriture">
                                    </div>
                                </div>
 
                                <div class="form-group">
                                                              
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Inscription</button>
                                        
                                    </div>
                                </div>
                               
                            </form>
                         </div>
                    </div>
              
                
         </div>
    </div>
   
</body>
</html>
 
